.footer {
  padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.1rem;

  &__about {
    p {
      margin-top: 2rem;
      line-height: 1.8rem;
    }
  }
  
  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__content {
    li {
      margin-bottom: 1.25rem;
    }
  }

  &__logo {
    height: 38px;
  }
}